# Temporary files
.*.swp
*.o
*~

# Example files
*.coffee

# Misc data
*.out

# Binaries
main
src/main
src/main2
src/buy
src/sell
src/inventory
src/history
src/state

# libraries
*.a

# autotools
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan-*.log
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
src/config.h.in
